.benefit {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #f4f4f4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .big-num {
      
      height: 650px;
      img {
        height: 100%;
        fill: #427042;
      }

    }

    &--content {
      width: 400px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding-left: 40px;

      .line {
        height: 1px;
        width: 100%;
        background-color: #000;
        margin-bottom: 20px;
      }

      &---title {
        text-transform: uppercase;
      }

      &---title, &---subtitle {
        font-weight: 500;
        font-size: 26px;
      }

      &---subtitle {
        padding-bottom: 15px;
      }

      &---text {
        font-weight: 200;
        font-size: 26px;
        line-height: 1.1em;
      }
    }
  }
  
  .panel-0 .benefit {
    background-color: #9d1516;
    width: 100%;
  }
  .panel-1 .benefit {
    background-color: #427042;
    width: 90%;
  }
  .panel-2 .benefit {
    background-color: #f7b815;
    width: 80%;
  }
  
  .panel-3 .benefit {
    background-color: #2b446b;
    width: 70%;
  }
