.floating-images-section {
    position: absolute;
    height: 200vh;
    width: 100%;
    z-index: 20;
    background-color: transparent;
    pointer-events: none;
  
    .float-image {
      position: absolute;
      width: 400px;
      height: auto;
  
      &--1 {
        top: 10%;
        left: 5%;
      }
  
      &--2 {
        top: 15%;
        left: 40%;
      }
  
      &--3 {
        top: 10%;
        right: 5%;
      }

      &--4 {
        top: 40%;
        left: 5%;
      }

      &--5 {
        top: 45%;
        left: 40%;
      }

      &--6 {
        top: 40%;
        right: 5%;
      }

      &--7 {
        bottom: 10%;
        left: 5%;
      }

      &--8 {
        bottom: 5%;
        left: 40%;
      }

      &--9 {
        bottom: 10%;
        right: 5%;
      }
  
      // dodaj dalje ako bude više slika
    }
  }