.stack-scroll {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  z-index: 10000;

  @media only screen and (max-width: 992px) {
    height: 100lvh; 
    overflow: hidden;
    transform: translateZ(0); 
  }
}

.stack-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  will-change: transform;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;

  @media only screen and (max-width: 992px) {
    min-height: 100vh; 
    min-height: 100vh;
    will-change: transform;
  }
}
