.site-footer {
    background-color: #f7b815;

    .footer-inner{
        padding: 1vw 3vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            a {
                font-size: inherit;
            }
        }

        .footer-copy {
            a {
                font-size: inherit;
            }
        }

        .footer-logo-rigt {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            .logo-sg {
                width: 225px;
                height: 100%;
                padding-right: 20px;
            }

            .logo-cmpn {
                width: 300px;
                height: 100%;
            }
        }
    }
}