.hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;

    @media only screen and (max-width: 1600px) {
        min-height: 100vh;
      }

    @media only screen and (max-width: 992px) {
        min-height: 100vh;
      }

    @media only screen and (max-width: 992px) {
        padding: 20px;
    }

    .logo-box {
        position: absolute;
        height: 165px;

        @media only screen and (max-width: 992px) {
            position: relative;
            height: 65px;
        }

        img {
            position: relative;
            height: 100%;
        }
    }

    .sg_watermark {
        position: absolute;
        top: 0;
        left: 25%;
        width: fit-content;
        @media only screen and (max-width: 992px) {
            left: 50%;
        }

        .line_1 {
            height: calc(6vh + 4px);
            width: 2px;
            background-color: #000;

            @media only screen and (max-width: 992px) {
                height: calc(4vh + 8px);
            }
        }

        .square-name {
            display: flex;
            flex-direction: row;
            position: absolute;
            top: calc(6vh + 2px);

            @media only screen and (max-width: 992px) {
                top: calc(4vh + 6px);
            }
            .square {
                width: 20px;
                height: 20px;
                background-color: #000;
                margin-top: 1px;

                @media only screen and (max-width: 992px) {
                    width: 18px;
                    height: 18px;
                    margin-top: 2px;
                }
            }

            .name {
                padding-left: 10px;

                .big {
                    text-transform: uppercase;
                    transform: translateY(-2PX);

                    @media only screen and (max-width: 992px) {
                        transform: translateY(0PX);
                    }
                }

                .small {
                    transform: translateY(-8PX);
                    @media only screen and (max-width: 992px) {
                        transform: translateY(-6PX);
                    }
                }

                h6 {
                    font-weight: 300;
                    text-align: right;
                }
            }
        }


    }

    &--title-right {
        position: relative;
        right: 0px;
        width: 70%;
        text-align: right;
        align-self: flex-end;
        word-wrap: break-word;

        @media only screen and (max-width: 1680px) {
            width: 55%;
        }

        @media only screen and (max-width: 1366px) {
            width: 50%;
        }

        @media only screen and (max-width: 992px) {
            width: 40%;
            right: 0;
        }

        @media only screen and (max-width: 992px) {
            width: 85%;
            padding-top: 40px;
        }

        h1 {
            @media only screen and (max-width: 992px) {
                text-align: right;
            }
        }
    }

    &--title-left {
        position: relative;
        left: 0px;
        width: 100%;
        height: 175px;
        text-align: left;
        align-self: flex-start;

        @media screen and (min-width: 2560px) {
            height: 200px;
        }

        @media only screen and (max-width: 1680px) {
            height: 150px;
        }

        @media only screen and (max-width: 1440px) {
            height: 140px;
        }

        @media only screen and (max-width: 1366px) {
            height: 110px;
        }

        @media only screen and (max-width: 992px) {
            height: 50px;
            width: 100%;
            padding-left: 40px;
            left: 0;
        }

        @media only screen and (max-width: 992px) {
            height: 50px;
            width: 100%;
            padding-left: 0px;
            left: 0;
        }

        .rotating-words {
            position: relative;
            height: 17.5em; 
            width: 100%;
            overflow: hidden;
            margin: 5vh 0;

            @media screen and (min-width: 2560px) {
                height: 20em;
            }

            @media only screen and (max-width: 1680px) {
                height: 150px;
            }

            @media only screen and (max-width: 1440px) {
                height: 140px;
            }

            @media only screen and (max-width: 1366px) {
                height: 110px;
            }

            @media only screen and (max-width: 992px) {
                height: 50px; 
            }

            @media only screen and (max-width: 992px) {
                margin: 2.5vh 0;
            }
        }

        h1 {
            @media only screen and (max-width: 992px) {
                font-size: 50px;
            }
        }
    }

    &--paragraph-text {
        width: 40%;
        position: relative;
        margin-left: auto;
        margin: 5vh 0 5vh auto;

        @media only screen and (max-width: 992px) {
            margin: 5vh 0;
            width: 60%;
            margin-left: auto;
        }

        @media only screen and (max-width: 776px) {
            width: 100%; 
        }

        p {
            @media only screen and (max-width: 992px) {
                font-size: 1.8em;
            }
        }


    }

    .title {
        width: 70%;
        text-align: right;
        align-self: flex-end;
        margin-bottom: 10vh;

        @media only screen and (max-width: 992px) {
            width: 100%; 
            margin-bottom: 5vh;
        }

        h2 {
            //font-size: inherit;
            width: 100%;
        }
    }

    .hero-img {
        position: relative;
        width: 100%;
        margin: 10vh 0;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0px;
        justify-content: space-between;

        @media only screen and (max-width: 992px) {
            margin-top: 0;
            margin-bottom: 5vh;
            flex-wrap: wrap;
        }

        img {
            position: relative;
            height: auto;
            width: 23%;
            object-fit: cover;

            @media only screen and (max-width: 992px) {
                width: 45%;
            }
        }
    }
}
