.hero {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;

    @media only screen and (max-width: 1600px) {
        min-height: 100vh;
      }

    @media only screen and (max-width: 992px) {
        min-height: 100vh;
      }

    .logo-box {
        position: absolute;
        height: 165px;

        img {
            position: relative;
            height: 100%;
        }
    }

    .sg_watermark {
        position: absolute;
        top: 0;
        left: 25%;
        height: 150px;
        width: fit-content;

        .line_1 {
            height: 6vh;
            width: 2px;
            background-color: #000;
        }

        .square-name {
            display: flex;
            flex-direction: row;
            .square {
                width: 25px;
                height: 25px;
                background-color: #000;
            }

            .name {
                padding-left: 10px;

                .big {
                    text-transform: uppercase;
                }

                h6 {
                    font-weight: 300;
                }
            }
        }


    }

    &--title-right {
        position: relative;
        right: 0px;
        width: 70%;
        text-align: right;
        align-self: flex-end;
        word-wrap: break-word;

        @media only screen and (max-width: 992px) {
            width: 40%;
            padding-right: 40px;
            right: 0;
        }

        h1 {
            @media only screen and (max-width: 992px) {
                font-size: 50px;
            }
        }
    }

    &--title-left {
        position: relative;
        left: 0px;
        width: 100%;
        height: 175px;
        text-align: left;
        align-self: flex-start;

        @media screen and (min-width: 2560px) {
            height: 200px;
        }

        @media only screen and (max-width: 992px) {
            height: 50px;
            width: 100%;
            padding-left: 40px;
            left: 0;
        }

        .rotating-words {
            position: relative;
            height: 17.5em; 
            width: 100%;
            overflow: hidden;
            margin: 5vh 0;

            @media screen and (min-width: 2560px) {
                height: 20em;
            }

            @media only screen and (max-width: 992px) {
                height: 50px; 
            }
        }




        h1 {
            @media only screen and (max-width: 992px) {
                font-size: 50px;
            }
        }
    }

    &--paragraph-text {
        width: 40%;
        position: relative;
        margin-left: auto;
        margin: 5vh 0 5vh auto;
    }

    .title {
        width: 70%;
        text-align: right;
        align-self: flex-end;
        margin-bottom: 10vh;
    }

    .hero-img {
        position: relative;
        width: 100%;
        margin: 10vh 0;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 0px;
        justify-content: space-between;

        img {
            position: relative;
            height: auto;
            width: 23%;
            object-fit: cover;
        }
    }
}
