.section-8 {
    position: relative;
    height: 500px;
    width: 100%;

    @media screen and (min-width: 2560px) {
        height: 700px;
    }

    @media screen and (max-width: 992px) {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .heading-box {
        margin: 0;
        padding: 0;
        width: 90%;
        height: fit-content;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        h2 {
            margin: 0;
            padding: 5vh 3vw;
            width: 100%;
            word-wrap: break-word;
            @media screen and (max-width: 992px) {
                padding: 20px;
            }
        }
    }

    .title {
        margin: 40px 3vw;
        width: 800px;
        text-align: left;

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    .text {
        width: 40%;
        padding-left: 3vw;
        @media screen and (max-width: 992px) {
            width: 100%;
            padding: 20px;
            padding-top: 0;
        }
    }

    img {
        position: absolute;
        right: 0;
        width: auto;
        height: 500px;
        top: 0;
        z-index: 0;

        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;
            position: relative;
            order: -1;
        }
    

        @media screen and (min-width: 2560px) {
            height: 700px;
        }
    }
}