.site-footer {
    background-color: #f7b815;
    z-index: 1000;

    .footer-inner{
        padding: 1vw 3vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 992px) {
            height: 125px;
          }

        .footer-logo-left {
            @media only screen and (max-width: 992px) {
                width: 48%;
            }
        }

        h4 {
            a {
                font-weight: 500;
                color: #FFF;
                font-size: inherit;
            }
        }

        .footer-copy {
            color: #FFF;
            a {
                color: #FFF;
                font-size: inherit;
            }

            p {
                font-size: 2em;
                @media only screen and (max-width: 992px) {
                    font-size: 1.4em;
                  }
            }
        }

        .footer-logo-rigt {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            @media only screen and (max-width: 992px) {
                flex-direction: column;
                justify-content: center;
                row-gap: 20px;
                width: 48%;
            }

            .logo-sg {
                width: 225px;
                height: 100%;
                padding-right: 20px;
            }

            .logo-cmpn {

                    width: 150px;
                    height: 100%;

                @media only screen and (max-width: 992px) {
                    height: auto;
                }
            }
        }
    }
}